<h1>hola admin</h1>
<%=link_to "Postulaciones",admin_postulations_path%>

<%=link_to "Listar Fichas Persona Natural",admin_files_user_list_path%>

<%=link_to "Listar Fichas Asociativas",admin_files_asociative_user_list_path%>

<%=link_to "Crear Fichas",admin_postulations_path%>
