<div class="row dashboard-row">
  <div class="col-md-5">
    <div class="record-list">
      <div class="title-record">
        <h3>CREAR FICHAS</h3>
      </div>
      <ul class="record-list-link">
        <li>
          <%= link_to usuarios_path do%>
            <div class="record-text">
              <h3>Crear Fichas Persona Natural</h3>
              <p></p>
            </div>
            <div class="record-count"></div>
          <% end %>
        </li>
        <li>
          <%= link_to usuarios_asociados_path do%>
            <div class="record-text">
              <h3>Crear Fichas Asociativas</h3>
              <p></p>
            </div>
            <div class="record-count"></div>
          <% end %>

        </li>
        <%= link_to 'Volver', root_path %>

      </ul>
    </div>
  </div>
        <p></p>
      </div>
    </div>
  </div>
</div>
