<div class="row dashboard-row">
  <div class="col-md-12">
    <div class="record-list">
      <div class="title-record">
        <h3>CREAR FICHAS</h3>
      </div>
      <ul class="record-list-int">
        <li>
          <%= link_to new_usuario_path, class: "create no-margin" do %>
            <div class="record-text">
              <h3>Crear Fichas Persona Natural</h3>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to new_usuarios_asociado_path, class: "create no-margin" do %>
            <div class="record-text">
              <h3>Crear Fichas Asociativas</h3>
            </div>
          <% end %>
        </li>

      </ul>
    </div>
  </div>
</div>
