<div class="col-md-2">
  <p class="titulo-intro">QUÉ ES EL PROGRAMA PAMMA Y PARA QUE SIRVE</p>
</div>
<div class="intro col-md-5">
  <p>El programa PAMMA se define como un instrumento destinado al mejoramiento cualitativo y de gestión del sector minero artesanal que presenta dificultades de operación, siendo fuente de trabajo para un significativo número de pequeños productores, especialmente en el norte del país.</p>

  <p>Lo anterior apunta a que este sector, pueda superar las limitaciones de oportunidades y los grados de pobreza que arrastra, incorporándose en propiedad y con opciones ciertas al mejoramiento de la calidad de vida tanto personal como de sus familias, y de su entorno inmediato. PAMMA apoya el desarrollo de proyectos productivos de pequeña escala para la solución de necesidades e intereses de sus beneficiarios, siendo una instancia flexible de apoyos que contribuyen a su integración y desarrollo.</p>

  <p>Los criterios orientadores y de evaluación acerca del cumplimiento del Programa y su cobertura, recae en la Subsecretaría de Minería. La información preliminar sobre focalización y prioridades, surge de las regiones a través de equipos técnicos sectoriales y los gobiernos locales.</p>

  <p>Los proyectos postulan a un fondo concursable producto de la participación de las regiones a través de las SEREMIS de Minería y oficinas de ENAMI y de otros organismos descentralizados del Estado que pudieran estar en condiciones de agregar su interés en dichas iniciativas.</p>
</div>
<div class="col-md-1"></div>
<div class="login col-md-4">
  <div class="login-row">
    <h3>¿Quieres recibir beneficios de PAMMA?</h3>
    <p>Es facil, debes crear una cuenta...</p>

    <%= link_to "Crear ficha individual", new_user_registration_path, :class => "button-individual" %>

    <%= link_to "Crear ficha asociativa", new_asociative_user_registration_path, :class => "button-asociativa" %>
  </div>


</div>
