<div class="col-md-12">
  <div class="postulation-section">
    <div class="postulation">
        <h3 class="title-postulation">Postulaciones</h3>
        <p>Desde aca puedes postular, ver periodos y tus postulaciones hist贸ricas.</p>
    </div>
    <div class="postulation-body col-md-12 center">
      <h3>Postulaciones Anteriores</h3>
      <% @postulations_list.each do |p|%>
        <div class="row no-padding">
          <div class="col-md-6">
            <p class="postulation-info">Nombre Periodo de Postulaci贸n <%= p.postulation_date_id%></p>
          </div>
          <div class="col-md-6">
            <p class="postulation-info">Estado Postulaci贸n:<%= p.postulation_state_id %></p>
          </div>
        </div>
      <% end %>
      <%= link_to user_postulations_postulation_period_path, class: "create-orange" do%>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><defs><style>.plus{fill:#F7925F;}</style></defs><title>plus</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_2-2" data-name="Layer 2"><polygon class="plus" points="12 4.5 7.5 4.5 7.5 0 4.5 0 4.5 4.5 0 4.5 0 7.5 4.5 7.5 4.5 12 7.5 12 7.5 7.5 12 7.5 12 4.5"/></g></g></svg>
        Nueva postulaci贸n
      <% end %>
    </div>
  </div>
</div>