<div class="formulario">
  <div class="title-row">
    <h2 class="title-form">Postulaciones disponibles para ti</h2>
  </div>
  <div class="col-md-12">
    <div class="postulation-section-nocolor">
      <div class="postulation-body col-md-8 center">
        <%@period.each do |p|%>
            <%if state = true%>
              <%= link_to p.name, milestones_path, class: "postulation-info-orange width-total" %>
            <%elsif state = false%>
              No hay Periodos de Postualción Disponibles.
            <%end%>
        <%end%>
      </div>
    </div>
  </div>
</div>
