@font-face
  font-family: 'gobclbold'
  src: url('/assets/gobcl_bold-webfont.eot')
  src: url('/assets/gobcl_bold-webfont.eot?#iefix') format('embedded-opentype'),url('/assets/gobcl_bold-webfont.woff2') format('woff2'),url('/assets/gobcl_bold-webfont.woff') format('woff'),url('/assets/gobcl_bold-webfont.ttf') format('truetype'),url('/assets/gobcl_bold-webfont.svg#gobclbold') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'gobclheavy'
  src: url('/assets/gobcl_heavy-webfont.eot')
  src: url('/assets/gobcl_heavy-webfont.eot?#iefix') format('embedded-opentype'),url('/assets/gobcl_heavy-webfont.woff2') format('woff2'),url('/assets/gobcl_heavy-webfont.woff') format('woff'),url('/assets/gobcl_heavy-webfont.ttf') format('truetype'),url('/assets/gobcl_heavy-webfont.svg#gobclheavy') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'gobcllight'
  src: url('/assets/gobcl_light-webfont.eot')
  src: url('/assets/gobcl_light-webfont.eot?#iefix') format('embedded-opentype'),url('/assets/gobcl_light-webfont.woff2') format('woff2'),url('/assets/gobcl_light-webfont.woff') format('woff'),url('/assets/gobcl_light-webfont.ttf') format('truetype'),url('/assets/gobcl_light-webfont.svg#gobcllight') format('svg')
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'gobclregular'
  src: url('/assets/gobcl_regular-webfont.eot')
  src: url('/assets/gobcl_regular-webfont.eot?#iefix') format('embedded-opentype'),url('/assets/gobcl_regular-webfont.woff2') format('woff2'),url('/assets/gobcl_regular-webfont.woff') format('woff'),url('/assets/gobcl_regular-webfont.ttf') format('truetype'),url('/assets/gobcl_regular-webfont.svg#gobclregular') format('svg')
  font-weight: normal
  font-style: normal

$azulito: #1B75BB
$calipso: #00B9B5
$clarito: #DFE1DF
$dark-calipso: #00A1B7
$dark-naranjo: #F46E60
$gris: #787878
$grisClaro: #B3B3B3
$naranjo: #F7925F

$rojo: rgb(235, 60, 70)

*
  box-sizing: border-box
  -webkit-font-smoothing: antialiased
a
  color: $rojo
html,
body
  font-family: 'gobclregular'
  font-size: 16px
  height: 100%
h1,h2
  font-family: 'gobclbold'

header
  background: url('/assets/background-header.jpg')
  background-size: cover
  background-position: center
  display: flex
  flex-direction: column
  flex-shrink: 0
  flex-wrap: nowrap
  justify-content: flex-start
  height: 270px
  position: relative
  transition-property: max-height, box-shadow
  .header-inner-container
    align-items: stretch
    height: 100%
    margin: 0 auto
    max-width: 1100px
    overflow: hidden
    padding: 0
    position: relative
    justify-content: space-between
    width: 100%
    .logo-container
      width: 170px
      img.logo
        width: 100%
    .status-user
      bottom: 20px
      position: absolute
      right: 0
      width: 50%
      .current-row
        text-align: right
        transition: .35s
        h3
          color: white
          display: inline-block
          font-family: 'gobcllight'
          margin-right: 16px
          vertical-align: middle
        .current
          background: $rojo
          border-radius: 3px
          color: white
          cursor: pointer
          display: inline-block
          font-family: 'gobclregular'
          font-size: 16px
          margin: 0
          padding: 5px 20px
          text-align: center
          width: 130px
      .current-text
        color: white
        font-family: 'gobclregular'
        font-size: 16px
        margin-right: 16px
      .current-text,
      .current-button
        display: inline-block
      .current-button
        background: $azulito
        border: 0
        border-radius: 3px
        color: white
        cursor: pointer
        font-family: 'gobclregular'
        font-size: 16px
        padding: 5px 0
        text-align: center
        width: 180px
      .login-row-header
        opacity: 0
        position: absolute
        right: -600px
        text-align: right
        top: 0
        transition: .35s
        visibility: hidden
        //width: 100%
        .close-login
          border-radius: 50%
          cursor: pointer
          height: 30px
          line-height: 30px
          padding: 3.5px
          text-align: center
          width: 30px
          svg
            width: 15px
        .close-login,
        .login-user,
        .login-user-asociative
          display: inline-block
          vertical-align: middle
        .login-user,
        .login-user-asociative
          background: $azulito
          border-radius: 3px
          padding: 5px 20px
          a
            color: white
            font-family: 'gobclregular'
            font-size: 16px
            text-decoration: none
      .login-row-header.login-activo
        opacity: 1
        right: 0
        visibility: visible
    .txt-logo
      color: white
      font-size: 20px
      font-family: 'gobclregular'
      line-height: normal
      margin: 16px 0 0 0
      text-transform: uppercase
      width: 275px
footer
  display: flex
  flex-direction: column
  flex-shrink: 0
  flex-wrap: nowrap
  justify-content: flex-start
  height: initial
  transition-property: max-height, box-shadow
  .footer
    height: 100%
    margin: 0 auto
    max-width: 1100px
    padding: 0
    width: 100%
    .logo-footer-container
      width: 150px
      img
        width: 100%
.actions
  margin: 0 auto
  max-width: 350px
  text-align: left
  width: 80%
  .submit
    background: $azulito
    border: 0
    border-radius: 3px
    color: white
    cursor: pointer
    font-family: 'gobclregular'
    font-size: 16px
    padding: 5px 20px
    transition: .35s
    width: 180px
    &:hover
      //background: white
      box-shadow: 0px 15px 25px -10px rgba(0, 0, 0, 0.8)
.align-center
  text-align: center
.best_in_place
  display: block
  width: 100%
  form
    max-width: 100%
.blank
  font-size: 0
  margin: 0
.center
  margin: 0 auto
.create
  background: $clarito
  border-radius: 3px
  color: $calipso
  display: inline-block
  font-family: 'gobclbold'
  margin-left: 5px
  margin-top: 16px
  padding: 5px 30px
  text-decoration: none
  transition: .35s
  svg
    vertical-align: middle
    width: 16px
  &:hover
    box-shadow: 0px 15px 25px -10px rgba(0, 0, 0, 0.8)
.create-orange
  background: white
  border-radius: 3px
  color: $naranjo
  display: inline-block
  font-family: 'gobclbold'
  margin-left: 5px
  margin-top: 16px
  padding: 5px 30px
  text-decoration: none
  svg
    vertical-align: middle
    width: 16px
.dashboard-row
  width: 100%
  .record-date
    background: $calipso
    border-bottom: 2px solid white
    border-radius: 3px 3px 0 0 
    width: 100%
    .title-record
      background: $dark-calipso
      border-bottom: 1px solid white
      border-radius: 3px 3px 0 0 
      padding: 16px 25px
      text-align: right
      h3
        color: white
        font-family: 'gobclregular'
        font-size: 20px
        margin: 0
    .record-list-link
      margin: 0
      padding: 0
      li
        border-bottom: 1px solid white
        display: block
        text-align: right
        a
          display: block
          text-decoration: none
          padding: 16px 25px
          width: 100%
        .record-count
          color: white
          font-family: 'gobcllight'
          font-size: 48px
        .record-count,
        .record-text
          display: inline-block
          vertical-align: middle
        .record-text
          h3
            color: white
            font-size: 18px
            margin: 0
            text-transform: capitalize
          p
            color: white
            font-size: 14px
            margin: 0
          
.filter
  background: linear-gradient(to bottom, rgba(76,76,76,0) 0%,rgba(19,19,19,0.5) 100%)
  height: 100%
  position: absolute
  width: 100%
.flex
  display: flex
.form-session
  width: 100%
.form-session-inner
  background: $clarito
  border-radius: 3px
  box-shadow: 0px 50px 30px -30px rgba(0, 0, 0, 0.3)
  display: inline-block
  height: initial
  padding: 20px 0
  vertical-align: top
  width: 32%
  .field
    display: block
    margin: 0 auto 10px auto
    max-width: 350px
    position: relative
    width: 80%
    input[type="text"],
    input[type="date"],
    input[type="email"],
    input[type="password"],
    select
      background-color: white !important
      border: 1px solid $grisClaro
      border-radius: 3px
      color: #697689
      font-family: 'gobclregular'
      outline: none
      padding: 5px 10px
      position: relative
      width: 100%
      &:focus
        border: 1px solid #FF6F00
    input[type="password"]
      font-family: sans-serif
    label
      font-size: 16px
      //font-style: italic
      margin-left: 5px
  .title-h3
    position: relative
    text-align: center
    margin-bottom: 0
    margin-top: 10px
    p
      color: $azulito
      font-family: 'gobclregular'
      font-size: 20px
      margin: 0 auto
      max-width: 350px
    p,
    span
      display: inline-block
      vertical-align: middle
    span
      color: $azulito
      font-family: 'gobcllight'
      font-size: 54px
      font-weight: 100
      margin-right: 16px
      //position: absolute
      //left: 10px
.inner-file
  background: $calipso
  width: 100%
  .header-file
    background: $dark-calipso
    padding: 20px
    text-align: right
    width: 100%
    .header-cont
      display: flex
    .pull-left
      color: white
      text-align: left
      width: 30%
      a
        color: white
        line-height: 69px
        text-decoration: none
      svg
        display: inline-block
        text-align: left
        vertical-align: middle
        width: 15px
    .pull-left,
    .pull-right
      display: inline-block
      vertical-align: middle
    .pull-right
      width: 70%
      .file-count
        p
          color: white
          display: initial
          font-family: 'gobcllight'
          font-size: 60px
          margin: 0
      .file-count,
      .file-text
        display: inline-block
        vertical-align: middle
  .file-text
    text-align: right
    h3
      color: white
      font-family: 'gobclregular'
      font-size: 20px
      margin: 0
    p
      color: white
      font-size: 16px
      margin: 0
  .body-file
    padding: 36px 0
    table
      width: 100%
      thead
        tr
          th
            color: white
            text-align: left
      tbody
        tr
          td
            padding: 3px
            .best_in_place
              background: white
              border-radius: 3px
              color: $gris
              padding: 5px 8px
              width: 100%
          .destroy-table
            background: transparent
            font-size: 0
            svg
              width: 15px
.inner-title
  border-bottom: 1px solid white
  color: white
  display: block
  font-family: 'gobclbold'
  font-size: 16px
  line-height: 45px
  margin: 0 auto 16px auto
.input[type="checkbox"]
  border: 1px solid $grisClaro
  height: 14px
  width: 14px
.input-inner
  .best_in_place
    background: white
    border-radius: 3px
    color: $gris
    margin-bottom: 16px
    padding: 5px
    width: 100%
  .span-label
    color: white
    font-family: 'gobclregular'
    font-weight: 600
.login
  .login-row
    background-color: $clarito
    border-top: 2px solid $azulito
    margin-top: 16px
    padding: 40px
    width: 100%
    h3
      color: $azulito
      border-bottom: 1px solid $azulito
      font-family: 'gobclbold'
      font-size: 15px
      line-height: 18px
      margin: 0 0 40px 0
      padding-bottom: 16px
      text-align: left
      width: 100px
    p
      color: $azulito
      font-family: 'gobclregular'
      font-size: 15px
      margin-bottom: 25px
      text-align: left
    .button-individual,
    .button-asociativa
      background-color: $rojo
      border: none
      border-radius: 3px
      color: white
      display: block
      font-family: 'gobclregular'
      font-size: 15px
      margin: 10px auto
      padding: 10px
      text-align: center
      text-decoration: none
      transition: .35s
      width: 100%
      &:hover
        box-shadow: 0px 20px 30px -15px rgba(0, 0, 0, 0.8)
.layout-content
  display: flex
  margin: 25px auto 
  max-width: 1100px
  width: 100%
  .intro
    color: $gris
    padding: 0 0 0 4px
  .titulo-intro
    border-bottom: 1px solid $rojo
    color: $rojo
    font-size: 20px
    padding-bottom: 16px
.linea
  border-bottom: 1px solid white
  margin-bottom: 26px
  margin-top: 16px
.margin-text
  margin-bottom: 1em !important
.modal-login.modal-activo
  opacity: 1
  visibility: visible
  z-index: 100
.none
  display: none
.no-padding
  padding: 0
.relative
  position: relative
.formulario
  display: block
  padding-top: 30px
  position: relative
  width: 100%
  .title-row
    margin: 16px auto
    p
      color: $gris
      font-size: 14px
      text-align: center
      a
        color: $azulito
.postulation-section
  background: $naranjo
  .postulation
    background: $dark-naranjo
    border-bottom: 1px solid white
    h3,
    p
      color: white
  .postulation-body
    h3,
    p
      color: white
    .postulation-info
      background: white
      color: $gris
.postulation-section,
.postulation-section-nocolor
  width: 100%
  .postulation
    border-radius: 3px 3px 0 0
    a
      text-decoration: none
    h3
      font-size: 20px
      margin: 0
      padding: 16px 25px
      text-align: right
    p
      margin: 0
      padding: 16px 25px
      text-align: right
  .postulation-body
    padding: 16px 0
    h3
      font-size: 20px
      margin: 0
      padding: 16px 0
      text-align: left
    p
      margin: 0
      padding: 16px 0
      text-align: right
    .postulation-info,
    .postulation-info-orange
      border-radius: 3px
      margin-bottom: 10px
      padding: 5px
      text-align: left
.postulation-section-nocolor
  .postulation-body
    .postulation-info-orange
      background: $naranjo
      color: white
.row
  width: 100%
.shared-links
  margin: 26px auto
  max-width: 350px
  width: 80%
  a
    color: $rojo
    font-size: 14px
    margin-bottom: 5px

.steps
  //background: $clarito
  //height: 500px
  margin: 0 auto 30px auto
  //max-width: 550px
  position: relative
  width: 100%
  .login-form
    .step-container
      display: flex
      justify-content: space-around
  .step
    background: $clarito
    border-radius: 3px
    box-shadow: 0px 50px 30px -30px rgba(0, 0, 0, 0.3)
    display: inline-block
    height: initial
    padding: 20px 0
    vertical-align: top
    width: 32%
    .step-inner
      position: relative
      .field
        display: block
        margin: 0 auto 10px auto
        max-width: 350px
        position: relative
        width: 80%
        input[type="text"],
        input[type="date"],
        input[type="email"],
        input[type="number"],
        input[type="password"],
        select
          background-color: white !important
          border: 1px solid $grisClaro
          border-radius: 3px
          color: #697689
          font-family: 'gobclregular'
          outline: none
          padding: 5px 10px
          position: relative
          width: 100%
          &:focus
            border: 1px solid #FF6F00
        input[type="password"]
          font-family: sans-serif
        .field_with_errors
          position: relative
          input[type="text"]
            //border: 1px solid $rojo
            border: 1px solid $grisClaro
          label.message
            color: $rojo
            font-family: 'gobclregular'
            font-size: 14px
            font-style: italic
            margin: 0
        input[type="date"],
        select
          font-family: 'gobclregular'
          font-size: 14px
          height: 27px
        select
          option
            padding: 5px 10px
        label
          font-size: 14px
          //font-style: italic
          //margin-left: 5px
      .maps
        border-bottom: 1px solid $azulito
        padding: 5px
        text-align: center
        .map
          background: white
          border-radius: 50%
          display: inline-block
          height: 15px
          margin: 0 5px
          vertical-align: middle
          width: 15px
        .map-activo
          background: $azulito
    .nav-step
      margin: 36px auto
      max-width: 350px
      width: 80%
      .back-step
        text-align: left
      .back-step,
      .path-step
        cursor: pointer
        display: inline-block
        vertical-align: middle
        width: 49%
        p
          color: $rojo
          font-family: 'gobclregular'
          font-size: 16px
          margin: 0
        p,
        svg
          display: inline-block
          vertical-align: middle
        svg
          width: 15px
      .path-step
        text-align: right
  .title-h3
    position: relative
    text-align: center
    margin-bottom: 0
    margin-top: 10px
    p
      color: $azulito
      font-family: 'gobclregular'
      font-size: 20px
      margin: 0 auto
      max-width: 350px
    p,
    span
      display: inline-block
      vertical-align: middle
    span
      color: $azulito
      font-family: 'gobcllight'
      font-size: 54px
      font-weight: 100
      line-height: 53px
      margin-right: 16px
      //position: absolute
      //left: 10px
.title
  font-size: 20px
  display: block
  margin: 0
.title-form
  color: #697689
  font-family: 'gobclregular'
  font-size: 16px
  display: block
  margin: 0
  text-align: center
  span
    font-style: italic
    font-size: 15px
.title-row
  width: 100%
.triple
  width: 30%
.triple-row
  display: flex
  justify-content: space-between
.login-form:nth-child(2)
  background: red !important

.width-total
  display: block
  width: 100%